$top_bar_bgcolor: #000000;
$bgcolor: #ffffff;

$green: #85C44D;

$orange: #f7941E;
$blue: #0095CD;
$red: #ed1c24;
$black: #000000;
$grey: #999999;
$white: #ffffff;

$top_bar_height: 130px;

@mixin hide_text {
  text-indent: -9999px;
  outline: none;
  display: block;
}

@mixin border_radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

html, body{
  background-color: $bgcolor;
}

body{
  color: #eee;
}

.topbar {
  top: -1px;
  .fill {
    position: relative;
    background: $top_bar_bgcolor;
    height: $top_bar_height;
    display: block;
    
    .title-container {
      .title {
        width: 692px;
        height: 127px;
        background: transparent image_url('freesbee.png') no-repeat 0 0;
        
        @include hide_text;
      } // .title
    } // .title-container

    .tagline {
      @include hide_text;
    }

    .give a {
      position: absolute;
      right: 0;
      top: 0;
      height: $top_bar_height;      
      width: 278px;
      
      @include hide_text;
      background: transparent image_url('give.png') no-repeat 0 -1px;
    } // .give
  }
} // .topbar

#wrapper {
  padding-top: 60px;
  
  .container {
    width: 100%;
    margin-left: 10px;
    margin-right: 0;
    overflow: hidden;
    
    .content {
      padding: 20px;
      margin: 30px -20px; /* negative indent the amount of the padding to maintain the grid system */

      .square-thumb{ width: 200px; height: 200px;}
    } // .content
    
    #refine-search{
      padding: 1em;
      background: #fafafa;
      border-bottom: 1px solid #ddd;
      .location-filter{

      }
      .categories-filter{

      }
    } // #refine-search
    
  } // .container
  
  #available-freesbees {
    margin: 89px 20px 0 20px;
    
    .offers-listing {
      .col {
        float: left;
        height: 450px;
        width: 200px;
        margin-right: 15px;
        
        a {
          margin-bottom: 15px;
          display: block;
          height: 200px;
          width: 200px;

          /* Default border colour */
          img {
            border: 5px solid $black;
          }
          
          &.active {
            img.category-fashion {
              border: 5px solid $red;
            }
            img.category-leisure {
              border: 5px solid $orange;
            }
            img.category-electronics {
              border: 5px solid $grey;
            }
            img.category-houseware {
              border: 5px solid $blue;
            }
            img.category-misc {
              border: 5px solid $green;
            }
          }
        }
      }
    }
  } // #available-freesbees
  
  #refine-search {
    clear: left;
    height: 130px;
    
    .location-filter {
      position: relative;
      margin-top: 15px;
      
      label {
        background: transparent image_url('location.png') no-repeat 0 0;
        width: 160px;
        height: 41px;
      
        span {
          @include hide_text;
          display: none;
        }
      }
    
      input {
        clear: both;
        position: absolute;
        left: 15px;
        top: 50px;
        font-size: 40px;
        line-height: 40px;
        
        height: 60px;
        width: 350px;
      }
    } // .location-filter
  } // #refine-search
  
  .categories-filter {
    margin-bottom: 5px;
    
    li {
      float: left;
      list-style: none;
      display: block;
      height: 138px;
      cursor: pointer;
      
      label, input {
        @include hide_text;
        display: none;
      }
      
      &.category-fashion {
        background: transparent image_url('fashion-inactive.png') no-repeat 0 0;
        width: 215px;
        &.active {
          background: transparent image_url('fashion-active.png') no-repeat 0 0;
        }
      }
      &.category-leisure {
        background: transparent image_url('leisure-inactive.png') no-repeat 0 0;
        width: 122px;
        &.active {
          background: transparent image_url('leisure-active.png') no-repeat 0 0;
        }
      }
      &.category-electronics {
        background: transparent image_url('electronics-inactive.png') no-repeat 0 0;
        width: 122px;
        &.active {
          background: transparent image_url('electronics-active.png') no-repeat 0 0;
        }
      }
      &.category-houseware {
        background: transparent image_url('houseware-inactive.png') no-repeat 0 0;
        width: 180px;
        &.active {
          background: transparent image_url('houseware-active.png') no-repeat 0 0;
        }
      }
      &.category-misc {
        background: transparent image_url('misc-inactive.png') no-repeat 0 0;
        width: 128px;
        &.active {
          background: transparent image_url('misc-active.png') no-repeat 0 0;
        }
      }
    }
  } // .categories-filter
  
} // #wrapper

.offer-show-page {
  #wrapper {
    padding-top: 150px;
  }
}

footer {
  background: white;
  bottom: 0;
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
  
  #session-info {
    background-color: black;
    clear: both;
    position: relative;
    padding: 20px;
    min-height: 15px;
    
    .not-signed-in & {
      
    }
    
    ul {
      list-style: none;
      margin: 0;
    }
    .sign_out {
      
    }
    
    .logged-in-as {
      float: right;
      margin-right: 80px;
      color: $grey;
      
      a {
        color: $white;
      }
    }
    
    .sign-out-button {
      position: absolute;
      right: 10px;
      top: 12px;
      
      display: block;
      color: $white;
      background: $black;
      border: 3px solid $white;
      
      font-weight: bold;
      padding: 5px 10px;
      
      @include border_radius(15px);
      
      &:hover {
        text-decoration: none;
        background: $white;
        color: $black;
      }
    } // .sign-out-button
  }
} // footer

///////////////////////////////////////////////////////////////////////////
// General partials
///////////////////////////////////////////////////////////////////////////

.modal-sign-in {
  color: $black;
  padding: 20px;
}

.sign-in-button {
  display: block;
  width: 273px;
  height: 63px;
  background: transparent image_url('fb-connect.png') no-repeat 0 0;
  
  @include hide_text;
} // .sign-in-button