<div id="available-freesbees">
  <div id="new_offer_form" class="fade modal">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3>What are you giving out?</h3>
    </div>
    <%= render :partial => "modal_form" %>
  </div>

  <% if @offers.length > 0 %>
    <div class="offers-listing">
      <% @offers.each_with_index do |offer, index| %>
        <% if index.even? %>
          <div class="col">
            <%= link_to image_tag(offer.photo.thumb.url, :class => "square-thumb #{offer.category.css_name}"), offer %>
        <% else %>
            <%= link_to image_tag(offer.photo.thumb.url, :class => "square-thumb #{offer.category.css_name}"), offer %>
          </div><!-- .col -->
        <% end %>
      <% end %>
      
      <% if @offers.length.odd? %>
        </div><!-- .col -->
      <% end %>
      
    </div><!-- .offers-listing -->
  <% end %>

</div><!-- #available-freesbees -->

<%= render :partial => "partials/refine" %>