<div class="topbar">
  <div class="fill">
    <div class="container">
      <form action="">
        <a class="brand" href="#">Freesbees</a>
        <h3 style="display: inline">The market place for free stuff</h3>
      </form>
    </div>
  </div>
</div>

<div class="give">
  <%= link_to 'Give', "#new_offer_form", :class => 'brand', 'data-controls-modal' => 'new_offer_form', 'data-backdrop' => 'static'%>
</div>