<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= link_to 'Give', "#new_offer_form", :class => 'brand', 'data-controls-modal' => 'new_offer_form', 'data-backdrop' => 'static' %>
      <%= link_to 'Offers', offers_path, :class => 'brand' %>
    </div>
  </div>
</div>